{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="{{ .Site.BaseURL }}fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/fitur.html" . -}}
{{- partial "sections/selengkapnya.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/pratinjau.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}